Source: gemian-leds
Priority: optional
Section: admin
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends:
 debhelper (>= 10),
 intltool,
 cmake,
 dbus,
 google-mock,
 libglib2.0-dev,
 pkg-config
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/gemian-leds
Vcs-Git: https://github.com/gemian/gemian-leds.git
Vcs-Browser: https://github.com/gemian/gemian-leds

Package: gemian-leds
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
Replaces:
Recommends:
Description: Gemini LEDs controller
 Simple DBUS reciever to set various states & animations for the LEDs.
