Source: gemian-leds
Priority: optional
Section: admin
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends:
 debhelper (>= 10),
 intltool,
 cmake,
 dbus,
 google-mock,
 libgmock-dev,
 libglib2.0-dev,
 pkg-config
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/gemian-leds
Vcs-Git: https://github.com/gemian/gemian-leds.git
Vcs-Browser: https://github.com/gemian/gemian-leds

Package: gemian-leds
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
Replaces:
Recommends:
Description: Gemini LEDs controller
 Simple DBUS receiver to set various states & animations for the LEDs.

Package: gemian-leds-scripts
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gemian-leds (>= ${source:Version}),
	 python3,
	 python3-dbus,
	 python3-gi
Description: Gemini LEDs controller (test and maintenance script files)
 This package includes test and maintenance scripts.
